<section>
  <div class="page-header">
    <h1>{{vm.spot._id ? 'Edit Spot' : 'New Spot'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.spotForm" class="form-horizontal" ng-submit="vm.save(vm.form.spotForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.spot.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.spotForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Spot name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Description</label>
          <input name="description" type="text" ng-model="vm.spot.description" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.spotForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Spot description is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.spot._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
